/**
 * Events' Slide
 */

 .event_swiper {
 	&-container {
 		background: {
 			repeat: no-repeat;
 			size: cover;
 			position: center center;
 		} // background
 		height: 100%;
 		padding-bottom: calc(1080 / 1920 * 100%);
 		position: relative;
 	} // -container
 	
 	.event_details {
		@include transform(translate(-8%, -50%));
		color: site-color('day');
		position: absolute;
		top: 50%;
		left: 8%;
		width: 45%;
		
		&-desc {
			@include fluid-type($narrow, $common, 25px, 42px);
			font-weight: bold;
			line-height: 1.25;
			margin-bottom: 0;
		} // -desc
		
		&-copies {
			display: none;
			font: {
				size: 16px;
				weight: weight(regular);
			} // font
		} // title
	} // .event_details
	
	@include breakpoint($desktop) {
		&-container {
	 		padding-bottom: calc(760 / 1920 * 100%);
	 	} // -container
	 		
		.event_details {
			&-copies {
				display: block;
				margin-top: 20px;
			} // title
		} // .event_details
	} // bp($desktop)
	
	@include breakpoint($common) {
		&-container {
	 		padding-bottom: calc(500 / 1920 * 100%);
	 	} // -container
	 	
		.event_details {
			width: 35%;
		} // .event_details
	} // bp($common)
 } // .event_swiper

/**
 * Center Content - Intro
 */

 .intro {
 	margin-bottom: 50px;
 } // .intro

/**
 * Center Content - Search Filter
 */

 .search_filter {
 	position: relative;
 	
 	textarea {
 		background: lighten(site-color('night'), 95);
 		border: 0;
 		border-radius: 3px;
 		display: block;
 		outline: none;
 		padding: 10px;
 		width: 100%;
 		
 		&::placeholder {
 			color: lighten(site-color('gray'), 30);
 		} // ::placeholder
 		
 		&:focus {
		 	filter: drop-shadow(0 0 3px rgba(site-color('night'), 0.25));
 		} // :focus
 	} // teaxarea
 	
 	button {
 		@include transform(translateY(-50%));
 		position: absolute;
 		top: 50%;
 		right: 10px;
 		height: 15px;
 		
 		svg {
 			color: rgba(site-color('gray'), 0.3);
 			width: 15px;
 			height: 15px;
 		} // svg
 	} // button
 } // .search_filter

/**
 * Center Content - Videos + Resources
 */

 .videos_row {
 	gap: 0 15px;
	 	
 	h3 {
 		@include fluid-type($narrow, $common, 16px, 32px);
 	} // h3

 	.content_videos-col {
	 	width: calc((100% / 4) * 2);
	 } // .content_video-col

	 .content_source-col {
	 	width: calc((100% / 4) * 2);
	 	
	 	.new_resource {	 		
	 		p {
	 			line-height: 1.25;
	 			margin-bottom: 0;
	 		} // p

	 		&-img {
	 			margin-bottom: 10px;
	 			padding-top: 62%;
	 			position: relative;
	 			
	 			img {
	 				object-fit: cover;
	 				position: absolute;
	 				top: 0;
	 				left: 0;
	 				width: 100%;
	 				height: 100%;
	 			} // img
	 		} // -img
	 	} // .new_resource
	 } // .content_source-col
	 
	 &:not(:first-child) {
	 		.content_source-col {
	 			h3 {
		 			visibility: hidden;
		 		} // h3
	 		} // .content_source-col
	 } // :not(:first-child)
	 
	 @include breakpoint($tablet) {
	 	gap: 0 20px;
	 	
	 	.content_videos-col {
	 		width: calc(100% / 6 * 4);
	 	} // .content_video-col
	 	
	 	.content_source-col {
	 		width: calc((100% / 6 * 2) - 10px);
	 		
	 		.new_resource {		
		 		&-img {
		 			padding-top: 60%;
		 		} // -img
		 	} // .new_resource
	 	} // .content_source-col

	 	&:not(:first-child) {
	 		.content_source-col {
	 			h3 {
	 				max-height: 10%;
 				} // h3
 			} // .content_source-col
		} // :not(:first-child)
	 } // bp($tablet)
	 
	 @include breakpoint($desktop) {	 	
	 	.content_videos-col {
	 		width: calc(100% / 12 * 9);
	 	} // .content_video-col
	 	
	 	.content_source-col {
	 		width: calc((100% / 12 * 3) - 15px);
	 	} // .content_source-col
	 } // bp($desktop)
	 
	 @include breakpoint($common) {
	 	.content_source-col {
	 		.new_resource {	 		
		 		&-img {
		 			padding-top: 59%;
		 		} // -img
		 	} // .new_resource
	 	} // .content_source-col
	 } // bp($common)
 } // .videos_row

/**
 * Center Content - Video Row
 */

 .video_swiper {
 	&-container {
 		.flexbox {
 			flex-direction: column;
 		} // .flexbox
 		
 		.video_link {
 			margin-bottom: 10px;
 			padding-top: 56.25%;
 			position: relative;
 			
 			img {
 				object-fit: cover;
 				position: absolute;
 				top: 0;
 				left: 0;
 				width: 100%;
 				height: 100%;
 			} // img
 			
 			&:before, &:after {
				@include transition(all 0.35s ease-in-out);
 				@include transform(translate(-50%, -50%));
 				content: '';
 				display: inline-block;
 				opacity: 0;
 				position: absolute;
 				top: 50%;
 				left: 50%;
 				z-index: 1;
 			} // :before, :after
 			
 			&:before {
 				border: 5px solid site-color('day');
 				border-radius: 50%;
 				width: 50px;
 				height: 50px;
 			} // :before
 			
 			&:after {
 				border-top: 12px solid transparent;
			  border-bottom: 12px solid transparent;
			  border-left: 12px solid site-color('day');
 				width: 0;
 				height: 0;
 			} // :after
 			
 			&:hover {
 				&:before, &:after {
 					opacity: 0.65;
 				} // :before, :after
 			} // :hover
 		} // .video_link
 		
 		h4 {
 			font: {
 				size: 1em;
 				weight: weight('regular');
			} // font
 			margin: 0;
 		} // h4
 	} // -container

 	// Center Content - Swiper ======
 	.swiper-button-prev,
 	.swiper-button-next {
 		background: rgba(site-color('night'), 0.5);
 		border-radius: 3px;
 		top: 90px;
 		
 		&:after {
 			color: site-color('day');
 			font-size: 2em;
 		} // :after
 		
 		&:hover {
 			@include transition(all 0.35s ease-in-out);
 			background: rgba(site-color('night'), 1);
 		} // :hover
 	} // .swiper-button-prev, .swiper-button-next
 	
 	.swiper-button-disabled {
 		display: none;
 	} // .swiper-button-disabled
 } // .video_swiper

 // Center Content - MagnificPopup ======
 .video_pop {
 	border-radius: 5px;
 	display: flex;
	flex-direction: column;
	max-width: 680px;
	overflow: hidden;
	position: relative;

	&-thumbnail {
		position: relative;
		padding-top: 56.25%;
		height: 0;
		overflow: hidden;

		// img {
		// 	object-fit: cover;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// } // img
		
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		} // iframe
	} // -thumbnail

	.info {
		padding: 10px;

		&_announcement {
			align-items: center;
			display: flex;
			gap: 0 10px;

			img {
				width: 30px;
			} // img
		} // _announcement

		&_desc {
			margin-top: 30px;

			.title {
				font-weight: weight(bold);
				margin-bottom: 0;
			} // .title
		} // desc

		&_tags {
			margin-top: 20px;

			ul {
				display: flex;
				flex-wrap: wrap;
				font-size: 0.85em;
				gap: 10px;

				li {
					border: 1px solid site-color('gray');
					border-radius: 3px;
					padding: 5px 8px;
				} // li
			} // ul
		} // _tags
	} // .info

	.mfp-close {
		color: site-color('day');
	} // .mfp-close
 } // .video_pop

 .white-popup {
 	position: relative;
	background: #FFF;
	width: auto;
	margin: 20px auto;

	a {
		color: site-color('text');
	} // a
 }

 